<div class="container">
  <div class="hero">
    <div class="hero-content">
      <div class="info">
        <h1>👋 Howdy</h1>
        <p>
          I’m a passionate full-stack web developer and mobile app creator with
          expertise in JavaScript, React, Node.js and SwiftUI.
        </p>
      </div>
      <div class="image-card">
        <img
          class="profile-pic"
          src="https://imageforsale.s3.amazonaws.com/IMG_0669.jpg"
          alt="picture of Alex Tran"
        />
        <h1>Alex at Niagara Falls</h1>
      </div>
    </div>
  </div>

  <div class="main"></div>
</div>
