<div class="container">
  <div class="hero">
    <div class="info">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi repellendus voluptates molestiae corporis. Saepe nulla id ratione odit facere? Obcaecati perspiciatis cum, ex dolores at explicabo repellendus aut dolorem est?
    </div>
    <div class="image-card">
      <img class="profile-pic" src="https://imageforsale.s3.amazonaws.com/IMG_0669.jpg" alt="picture of Alex Tran">
      <h1>Alex at Niagara Falls</h1>
    </div>
  </div>
  
  <div class="main">
  
  </div>  
</div>
