img.profile-pic {
  width: 450px;
  height: 450px;
}

h1 {
  font-size: 30px;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.image-card {
  width: 500px;
  height: 600px;
  box-shadow: 5px 10px 20px 2px rgba(0, 0, 0, .2);
  background-color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media (max-width: 768px) {
  .image-card {
    width: 320px;
    height: 384px;
    padding: 15px;
  }
  img.profile-pic {
    width: 290px;
    height: 290px;
  }
  h1 {
    font-size: 20px;
  }
}
